.bottomPopup {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 60%;
  background: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 16px;
  padding-bottom: 64px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.closeButton {
  position: absolute;
  top: -4px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #555;
}

.hoursContainer {
  overflow-y: auto;
  max-height: 150px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.servicesContainer {
  overflow-y: auto;
  max-height: 150px;
  margin-top: 8px;
  margin-bottom: 12px;
    flex-direction: column;
  border-collapse: collapse;
}

.servicesContainer th{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
}
.servicesContainer td{
  padding-left: 10px;
  padding-right: 10px;
}

.navigateButton {
  margin-top: auto;
  padding: 10px 16px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.navigateButton:hover {
  background-color: #005bb5;
}
