.searchLabel {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  border: 1px solid transparent;
  border-radius: 12px;
  overflow: hidden;
  background: rgb(204, 211, 214);
  padding: 9px;
  cursor: text;
}

.searchLabel:hover {
  border-color: gray;
}

.searchLabel:focus-within {
  background: rgba(255, 255, 255, 0.96);
  border-color: grey;
}

.input {
  outline: none;
  width: 100%;
  border: none;
  background: none;
  color: rgb(162, 162, 162);
}

.input:focus + .slashIcon,
.input:valid + .slashIcon {
  display: none;
}

.input:valid ~ .searchIcon {
  display: block;
}

.input:valid {
  width: calc(100% - 22px);
  transform: translateX(20px);
}

.searchIcon,
.slashIcon {
  position: absolute;
  color: #7e7e7e;
}

.searchIcon {
  display: none;
  width: 12px;
  height: auto;
}
