@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

div {
  .UNICENTERbutton {
    font-size: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    background-color: #ffffff;
    cursor:pointer;
    margin-top: 108vh;
    margin-right: 25vh;
  }
}

div {
  .UNICENTERbutton:hover {
    font-size: 12px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    background-color: #fdb515;
    transition-duration: 250ms;
    cursor:pointer;
    margin-top: 108vh;
    margin-right: 25vh;
  }
}

div {
  .COMMONSbutton {
    font-size: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    background-color: #ffffff;
    cursor:pointer;
    margin-top: 13vh;
    margin-left: 10vh;
  }
}

div {
  .COMMONSbutton:hover {
    font-size: 12px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    background-color: #fdb515;
    transition-duration: 250ms;
    cursor:pointer;
    margin-top: 13vh;
    margin-left: 10vh;
  }
}

div {
  .LOT22button {
    font-size: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    background-color: #ffffff;
    cursor:pointer;
    margin-bottom: 70vh;
    margin-right: 160vh;
  }
}

div {
  .LOT22button:hover {
    font-size: 12px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    background-color: #fdb515;
    transition-duration: 250ms;
    cursor:pointer;
    margin-bottom: 70vh;
    margin-right: 160vh;
  }
}




/*     background-color: #fdb515; */